<p id="notice"><%= notice %></p>

<p>
  <b>Imagepath:</b>
  <%= @sport_trainer.imagePath %>
</p>

<p>
  <b>Name:</b>
  <%= @sport_trainer.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @sport_trainer.surname %>
</p>

<p>
  <b>Description:</b>
  <%= @sport_trainer.description %>
</p>

<p>
  <b>Address:</b>
  <%= @sport_trainer.address %>
</p>

<p>
  <b>Plz:</b>
  <%= @sport_trainer.plz %>
</p>

<p>
  <b>City:</b>
  <%= @sport_trainer.city %>
</p>

<p>
  <b>Price:</b>
  <%= @sport_trainer.price %>
</p>

<p>
  <b>Officehours:</b>
  <%= @sport_trainer.officeHours %>
</p>

<p>
  <b>Subjectarea:</b>
  <%= @sport_trainer.subjectArea %>
</p>

<p>
  <b>Focus:</b>
  <%= @sport_trainer.focus %>
</p>

<p>
  <b>Phone:</b>
  <%= @sport_trainer.phone %>
</p>

<p>
  <b>Sportfacility:</b>
  <%= @sport_trainer.sportFacility %>
</p>


<%= link_to 'Edit', edit_sport_trainer_path(@sport_trainer) %> |
<%= link_to 'Back', sport_trainers_path %>
