<p id="notice"><%= notice %></p>

<p>
  <b>Imagepath:</b>
  <%= @sport_club.imagePath %>
</p>

<p>
  <b>Name:</b>
  <%= @sport_club.name %>
</p>

<p>
  <b>Description:</b>
  <%= @sport_club.description %>
</p>

<p>
  <b>Address:</b>
  <%= @sport_club.address %>
</p>

<p>
  <b>Plz:</b>
  <%= @sport_club.plz %>
</p>

<p>
  <b>City:</b>
  <%= @sport_club.city %>
</p>

<p>
  <b>Price:</b>
  <%= @sport_club.price %>
</p>

<p>
  <b>Sporttypes:</b>
  <%= @sport_club.sportTypes %>
</p>

<p>
  <b>Sportfacility:</b>
  <%= @sport_club.sportFacility %>
</p>

<p>
  <b>Traininghours:</b>
  <%= @sport_club.trainingHours %>
</p>

<p>
  <b>News:</b>
  <%= @sport_club.news %>
</p>

<p>
  <b>Table:</b>
  <%= @sport_club.table %>
</p>

<p>
  <b>Matchschedule:</b>
  <%= @sport_club.matchSchedule %>
</p>

<p>
  <b>Website:</b>
  <%= @sport_club.website %>
</p>

<p>
  <b>Squad:</b>
  <%= @sport_club.squad %>
</p>

<p>
  <b>Youthsquads:</b>
  <%= @sport_club.youthSquads %>
</p>


<%= link_to 'Edit', edit_sport_club_path(@sport_club) %> |
<%= link_to 'Back', sport_clubs_path %>
