<p id="notice"><%= notice %></p>

<p>
  <b>Imagepath:</b>
  <%= @sport_doctor.imagePath %>
</p>

<p>
  <b>Name:</b>
  <%= @sport_doctor.name %>
</p>

<p>
  <b>Surname:</b>
  <%= @sport_doctor.surname %>
</p>

<p>
  <b>Description:</b>
  <%= @sport_doctor.description %>
</p>

<p>
  <b>Address:</b>
  <%= @sport_doctor.address %>
</p>

<p>
  <b>Plz:</b>
  <%= @sport_doctor.plz %>
</p>

<p>
  <b>City:</b>
  <%= @sport_doctor.city %>
</p>

<p>
  <b>Price:</b>
  <%= @sport_doctor.price %>
</p>

<p>
  <b>Profession:</b>
  <%= @sport_doctor.profession %>
</p>

<p>
  <b>Subjectarea:</b>
  <%= @sport_doctor.subjectArea %>
</p>


<%= link_to 'Edit', edit_sport_doctor_path(@sport_doctor) %> |
<%= link_to 'Back', sport_doctors_path %>
